USE [master]
GO
/****** Object:  Database [ASOBD]    Script Date: 4/10/2024 10:49:18 PM ******/
CREATE DATABASE [ASOBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASOBD', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASOBD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASOBD_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASOBD_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASOBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASOBD]
GO
/****** Object:  Table [dbo].[Asociado]    Script Date: 4/10/2024 10:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asociado](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](50) NULL,
	[Apellidos] [nchar](50) NULL,
	[Telefono] [nchar](50) NULL,
	[Email] [nchar](50) NULL,
	[Clave] [varchar](max) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encargado]    Script Date: 4/10/2024 10:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encargado](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](50) NULL,
	[Email] [nchar](50) NULL,
	[Apellidos] [nchar](50) NULL,
	[Clave] [varchar](max) NULL,
	[IdRol] [int] NULL,
	[Activo] [bit] NOT NULL,
	[Justificacion] [nvarchar](255) NULL,
	[Telefono] [nchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 4/10/2024 10:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](50) NULL,
	[Direccion] [nchar](50) NULL,
	[Fecha] [date] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Imagen] [varbinary](max) NULL,
	[IdUsuarioCreador] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento_Asociado]    Script Date: 4/10/2024 10:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Asociado](
	[IdEvento] [int] NOT NULL,
	[IdAsociado] [int] NOT NULL,
 CONSTRAINT [PK_Evento_Asociado] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC,
	[IdAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 4/10/2024 10:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](10) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asociado] ADD  CONSTRAINT [DF__Asociado__Estado__151B244E]  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Encargado] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[Evento] ADD  CONSTRAINT [DF__Evento__FechaCre__6E01572D]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Encargado]  WITH CHECK ADD  CONSTRAINT [FK_Encargado_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Encargado] CHECK CONSTRAINT [FK_Encargado_Rol]
GO
USE [master]
GO
